<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bluegrams.Application.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Bluegrams.Application.WPF.Properties.Settings>
            <setting name="Width" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value />
            </setting>
            <setting name="Height" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Updated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckedUpdate" serializeAs="String">
                <value>0.0</value>
            </setting>
        </Bluegrams.Application.WPF.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
